<div>
  <h1><%= @article.title %>
      <small>
      <%= link_to article_path(@article.id),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      </small>
      <small>
      <%= link_to edit_article_path do %>
        <i class="far fa-edit"></i>
        <% end %>
      </small>
  </h1>
  <hr>
  <p><%= @article.content %></p>
  <img src="https://picsum.photos/200/300" alt="article image">
</div>

